[Unit]
Description=Digital Twin YOLO Camera Stream
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/digitaltwin
ExecStart=/mnt/storage/venv/bin/python /home/digitaltwin/yolo_cam_dashboard.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
